/* line 1, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 8, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
body {
  font-family: "museo-sans";
  margin: 0 auto;
  color: #363636;
  cursor: none;
  background: white; }

/* line 16, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
p {
  font-size: 1.75em;
  font-weight: 100; }

/* line 21, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
img {
  width: 90%; }

/* line 26, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
article .content {
  min-width: 50%;
  max-width: 60em;
  text-align: center; }
/* line 32, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
article ul {
  margin: 0;
  padding: 0;
  list-style: none; }
/* line 38, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
article li {
  margin-top: 0.5em;
  font-size: 3.25em;
  text-align: left;
  margin-bottom: 0.35em;
  padding-bottom: 0.25em;
  font-weight: 100;
  font-size: 3.25em;
  margin: 0;
  letter-spacing: -1px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15); }
  /* line 50, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  article li:first-child {
    margin-top: 0; }

/* line 56, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
.byline {
  margin: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  font-size: 2em;
  color: #00aed8; }
  /* line 70, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .byline::before, .byline::after {
    content: "";
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    height: 0;
    padding-top: 1px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.15); }
  /* line 84, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .byline > * {
    margin-right: 1em; }
  /* line 88, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .byline > *:first-child {
    margin-left: 1em; }

/* line 93, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
.image-margin {
  margin-bottom: 2em; }

/* line 97, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
.unbrokenline {
  border-bottom: 1px dotted #595959;
  margin: 30px 0 30px; }

/* line 102, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
.animated-icon {
  position: relative; }
  /* line 105, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .animated-icon canvas {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    bottom: 75px; }

/* line 114, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
.zero-width {
  font-family: sans-serif; }

/* line 118, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
.promo {
  border-top: 1px solid #00aed8;
  margin-top: 2em;
  padding-top: 2em; }
  /* line 123, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .promo .promo-title {
    font-size: 1.25em;
    margin-bottom: 0.25em; }
  /* line 128, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .promo .promo-text {
    margin-bottom: 1em; }
  /* line 132, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .promo input {
    vertical-align: middle;
    font-size: 1.25em;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em; }
  /* line 140, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .promo .btn {
    vertical-align: middle;
    font-size: 1.25em;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em;
    background: #e67e22;
    border: none;
    color: white;
    cursor: pointer; }

@media screen and (max-width: 960px) {
  /* line 154, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  body {
    font-size: 60%; }

  /* line 158, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .bespoke-slide {
    padding: 0 1em; }

  /* line 162, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  img {
    width: 100%; } }
@media screen and (max-width: 480px) {
  /* line 168, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  body {
    font-size: 40%; }

  /* line 172, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_base.scss */
  .promo {
    font-size: 1.75em; } }
/* line 1, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-slide {
  z-index: 2;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: fixed; }

/* line 28, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-inactive {
  display: none; }

/* line 32, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-after-1 {
  z-index: -1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  opacity: 0; }

/* line 41, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-after-1 .content > * {
  opacity: 0; }

/* line 45, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-after-1 .content.nofade > * {
  opacity: 1; }

/* line 49, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  opacity: 1; }

/* line 57, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > * {
  opacity: 1; }

/* line 61, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(1) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: opacity 0.5s linear 0s;
  -o-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s; }

/* line 69, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(2) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: opacity 0.5s linear 0.3s;
  -o-transition: opacity 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s; }

/* line 77, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(3) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 0.5s linear 0.6s;
  -o-transition: opacity 0.5s linear 0.6s;
  transition: opacity 0.5s linear 0.6s; }

/* line 85, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(4) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.9s;
  -moz-transition: opacity 0.5s linear 0.9s;
  -o-transition: opacity 0.5s linear 0.9s;
  transition: opacity 0.5s linear 0.9s; }

/* line 93, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(5) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 1.2s;
  -moz-transition: opacity 0.5s linear 1.2s;
  -o-transition: opacity 0.5s linear 1.2s;
  transition: opacity 0.5s linear 1.2s; }

/* line 101, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(6) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 1.5s;
  -moz-transition: opacity 0.5s linear 1.5s;
  -o-transition: opacity 0.5s linear 1.5s;
  transition: opacity 0.5s linear 1.5s; }

/* line 109, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(7) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 1.8s;
  -moz-transition: opacity 0.5s linear 1.8s;
  -o-transition: opacity 0.5s linear 1.8s;
  transition: opacity 0.5s linear 1.8s; }

/* line 117, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(8) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 2.1s;
  -moz-transition: opacity 0.5s linear 2.1s;
  -o-transition: opacity 0.5s linear 2.1s;
  transition: opacity 0.5s linear 2.1s; }

/* line 125, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(9) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 2.4s;
  -moz-transition: opacity 0.5s linear 2.4s;
  -o-transition: opacity 0.5s linear 2.4s;
  transition: opacity 0.5s linear 2.4s; }

/* line 133, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_bespoke.scss */
.bespoke-active .content > *:nth-child(10) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 2.7s;
  -moz-transition: opacity 0.5s linear 2.7s;
  -o-transition: opacity 0.5s linear 2.7s;
  transition: opacity 0.5s linear 2.7s; }

/* line 1, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_headings.scss */
h1 {
  font-weight: 100;
  font-size: 5.5em;
  line-height: 1;
  letter-spacing: -2px;
  margin: 0; }

/* line 9, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_headings.scss */
h2 {
  font-weight: 100;
  font-size: 4em;
  margin: 0;
  letter-spacing: -3px; }

/* line 16, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_headings.scss */
h3 {
  font-weight: 100;
  font-size: 2.5em;
  margin: 0;
  letter-spacing: -1px; }

@media screen and (max-width: 480px) {
  /* line 24, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_headings.scss */
  h1, h2 {
    letter-spacing: -1px; } }
/* line 1, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stats {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal; }

/* line 16, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stats-header {
  width: 33%;
  height: 100%;
  line-height: 0.8;
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  color: white;
  font-weight: 900;
  font-size: 5.5em;
  padding-left: 5%; }

/* line 43, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stats-group {
  width: 67%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center; }

/* line 67, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stats-pair {
  width: 90%;
  margin-top: 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center; }
  /* line 86, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
  .stats-pair:first-child {
    margin-top: 0; }

/* line 91, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stat {
  background: rgba(255, 255, 255, 0.25);
  width: 50%;
  margin-left: 1px;
  padding: 1.5em 2em;
  height: 100%; }
  /* line 98, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
  .stat:first-child {
    margin-left: 0; }

/* line 103, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stat-title {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.75em; }

/* line 111, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stat-value [class^="icon-"]:before, .stat-value [class*=" icon-"]:before {
  margin-left: 0; }
/* line 115, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stat-value i {
  padding: 0;
  color: #3d8134;
  font-size: 4.25em; }
/* line 121, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stat-value strong {
  font-size: 1.5em;
  color: white;
  font-size: 4em;
  letter-spacing: -2px; }
/* line 129, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.stat-value.negative i {
  color: #b93437; }

/* line 136, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.slide-inverse .stats-header {
  color: rgba(0, 0, 0, 0.85); }
/* line 141, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
.slide-inverse .stat-value strong {
  color: rgba(0, 0, 0, 0.65); }

@media screen and (max-width: 900px) {
  /* line 148, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
  .stats {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center; }

  /* line 165, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
  .stats-header {
    height: 15%;
    width: 100%;
    text-align: center; }
    /* line 170, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
    .stats-header br {
      display: none; } }
@media screen and (max-width: 800px) {
  /* line 177, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
  .stats-pair {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    width: 100%; }
    /* line 190, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
    .stats-pair .stat {
      margin: 1px 0 0;
      width: 100%; }
      /* line 194, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_stats.scss */
      .stats-pair .stat:first-child {
        margin-top: 0; } }
/* line 1, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.stats-time {
  background-image: url(../images/time.jpg); }

/* line 5, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.stats-parents {
  background-image: url(../images/parents.png); }

/* line 9, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.stats-oneill {
  background-image: url(../images/oneill.png); }

/* line 13, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.stats-skinny {
  background-image: url(../images/skinny.png); }

/* line 18, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.slide-left h3, .slide-left p, .slide-left div {
  text-align: left; }

/* line 23, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.twitter-tweet {
  margin: 3em auto !important; }

/* line 27, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.bespoke-slide.slide-img {
  background-position: normal;
  -webkit-background-size: 70%;
  -moz-background-size: 70%;
  -o-background-size: 70%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 30%; }

/* line 41, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.bespoke-slide.slide-blocked {
  background-image: url(../images/blocked.png); }

/* line 45, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.bespoke-slide.slide-forbes {
  background-image: url(../images/forbes.png);
  -webkit-background-size: 42%;
  -moz-background-size: 42%;
  -o-background-size: 42%;
  background-size: 42%; }

/* line 54, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.bespoke-slide.slide-responsive-native {
  background-image: url(../images/responsive-native.png);
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%; }

/* line 63, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
.bespoke-slide.slide-responsive-native-fail {
  background-image: url(../images/responsive-native-fail.png);
  -webkit-background-size: 87%;
  -moz-background-size: 87%;
  -o-background-size: 87%;
  background-size: 87%; }

@media screen and (max-width: 900px) {
  /* line 73, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
  .bespoke-slide.slide-img {
    -webkit-background-size: 95%;
    -moz-background-size: 95%;
    -o-background-size: 95%;
    background-size: 95%; }

  /* line 80, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
  .bespoke-slide.slide-forbes {
    -webkit-background-size: 75%;
    -moz-background-size: 75%;
    -o-background-size: 75%;
    background-size: 75%; }

  /* line 87, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
  .bespoke-slide.slide-responsive-native {
    -webkit-background-size: 95%;
    -moz-background-size: 95%;
    -o-background-size: 95%;
    background-size: 95%; }

  /* line 94, /Users/matthewcrist/Projects/Personal/business-case-for-responsive-design/source/stylesheets/partials/_slideSpecific.scss */
  .bespoke-slide.slide-responsive-native-fail {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; } }
