---
title: The Business Case for Responsive Design
---

<article>
  <section>
  	<div class="content">
      <h1>The Business Case for Responsive&nbsp;Design</h1>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">this talk hand creafted &amp; delivered by</div>
      </div>
      <h2>Matthew Crist</h2>
      <div class="byline">
        <div class="classy">@matthewcrist</div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">works with the finest folks at</div>
      </div>
      <h2>Cantina</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">let's talk about</div>
      </div>
      <h2>Getting the deciders to invest in responsive design</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">in other words</div>
      </div>
      <h2>How can responsive design positively impact the bottom line?</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Everyone has opinions about responsive design</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design allows us to meet the customer on their terms</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design allows us to build a better experience on the web</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design helps us focus on the content and features that matter</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design helps us focus on the content and features that matter</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we <i>also</i> know that</div>
      </div>
      <h2>Responsive design doesn't anger your&nbsp;customers</h2>
    </div>
  </section>
  <section class="slide-img slide-blocked">
    <div class="content">
      <h2 class="highlight">idontwantyourfuckingapp.tumblr.com</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">but...</div>
      </div>
      <h2>We also know that responsive design doesn't come free</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Responsive design definitely adds cost and time to projects</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #1</div>
      </div>
      <h2>Time to resolve design questions</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #2</div>
      </div>
      <h2>Time to develop the front end</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #3</div>
      </div>
      <h2>Time to develop the back end</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #4</div>
      </div>
      <h2>Time to test across multiple devices</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">#1 question we get asked</div>
      </div>
      <h2>How can I convince my boss that we should use responsive design?</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>As a developer, responsive design is a best practice we should all use</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>As a manager, numbers numbers numbers numbers numbers</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>This is an easy gap to bridge</h2>
      <div class="byline">
        <div class="classy">we'll build that bridge later...</div>
      </div>
    </div>
  </section>
  <section class="slide-smiley">
    <div class="content">
      <h2>Responsive makes everyone happy</h2>
    </div>
  </section>
  <section class="slide-smiley">
    <div class="content">
      <h2><i class="icon-emo-happy"></i> customers equals <strong>$$$</strong></h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">responsive design is...</div>
      </div>
      <h2>Google's official recommended way to support mobile</h2>
      <div class="byline">
        <div class="classy">we all love SEO</div>
      </div>
    </div>
  </section>
  <section class="slide-left">
    <div class="content">
      <h3>&ldquo;Sites that use responsive web design, i.e. sites that serve all devices on the same set of URLs, with each URL serving the same HTML to all devices and using just CSS to change how the page is rendered on the device. This is Google's recommended configuration.&rdquo;</h3>
      <p>&mdash; The Guys That Rank Your Site In Google</p>
      <div><em>https://developers.google.com/webmasters/smartphone-sites/details</em></div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">responsive design also...</div>
      </div>
      <h2>Provides for the graceful handling of <i>those</i> older browsers</h2>
      <div class="byline">
        <div class="classy">Damn you IE8!</div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">responsive design is also...</div>
      </div>
      <h2>A fun and challenging task / learning opportunity for developers</h2>
      <div class="byline">
        <div class="classy">RWD for less turnover</div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>What about separate mobile sites?</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Separate mobile can be less user friendly and assumes context</h2>
      <div class="byline">
        <div class="classy">we all know what happens when you assume</div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <figure>
        <img src="http://imgs.xkcd.com/comics/server_attention_span.png">
        <figcaption><em>http://xkcd.com/869/</em></figcaption>
      </figure>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Separate mobile sites may not cost more to build initially...</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>maintenance <strong>will cost more</strong>.</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <img src="images/cost-of-responsive.svg" class="image-margin">
      <h2>The cost of responsive is greatest with your team's first project.</h2>
    </div>
  </section>
  <section class="slide-title">
    <div class="content">
      <h2>What about native apps?</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Native apps have websites</h2>
    </div>
  </section>
  <section class="slide-img slide-responsive-native">
    <div class="content">
      <h2>Some work on mobile...</h2>
    </div>
  </section>
  <section class="slide-img slide-responsive-native-fail">
    <div class="content">
      <h2>other ones do not.</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Responsive isn't a silver bullet.</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Responsive is a tool.</h2>
      <div class="byline">
        <div class="classy">a tool for boosting the bottom line</div>
      </div>
    </div>
  </section>
  <section class="stats-time">
    <div class="stats">
      <div class="stats-header">Time</div>
      <div class="stats-group">
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">Mobile &amp; Tablet Traffic</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>10%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">Unique Visits</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>15%</strong></div>
          </div>
        </div>
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">Pages Per Visit</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>23%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">Bounce Rate</div>
            <div class="stat-value negative"><i class="icon-down-circle2"></i> <strong>26%</strong></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stats-oneill slide-inverse">
    <div class="stats">
      <div class="stats-header">O'Neill</div>
      <div class="stats-group">
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">iOS Transactions</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>112.50%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">iOS Revenue</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>101.25%</strong></div>
          </div>
        </div>
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">Android Transactions</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>333.33%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">Android Revenue</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>591.42%</strong></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stats-parents">
    <div class="stats">
      <div class="stats-header">Parents</div>
      <div class="stats-group">
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">Overall Traffic</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>118%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">Mobile Traffic</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>38%</strong></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stats-skinny slide-inverse">
    <div class="stats">
      <div class="stats-header">Skinny<br />Ties</div>
      <div class="stats-group">
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">Revenue</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>42.4%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">iPhone Revenue</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>377.6%</strong></div>
          </div>
        </div>
        <div class="stats-pair">
          <div class="stat">
            <div class="stat-title">Conversion Rate</div>
            <div class="stat-value"><i class="icon-up-circle2"></i> <strong>13.6%</strong></div>
          </div>
          <div class="stat">
            <div class="stat-title">Bounce Rate</div>
            <div class="stat-value negative"><i class="icon-down-circle2"></i> <strong>23.2%</strong></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>We've made the case for using responsive design, right?</h2>
      <div class="byline">
        <div class="classy">a secondary stakeholder drops in...</div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Someone rains on the <span class="animated-icon">parade<canvas id="raining" width="150" height="150"></canvas></span></h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">the second most popular question we get...</div>
      </div>
      <h2>How is it performant to send all the assets to every device?</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Every asset you send to a mobile device costs that user money</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>1kb of page weight = $0.00008</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>300kb page = $0.024</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">ways to speed things up #1</div>
      </div>
      <h2>Media queries and polyfills to only send assets that clients need</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">ways to speed things up #2</div>
      </div>
      <h2>Lazy load content where possible</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>It's all solvable</h2>
      <div class="byline">
        <div class="classy">it just takes time</div>
      </div>
    </div>
  </section>
  <section class="slide-final slide-left">
    <div class="content">
      <h2>fin.</h2>
      <p><a href="http://training.cantina.co">http://training.cantina.co</a></p>
    </div>
  </section>
</article>