---
title: The Business Case for Responsive Design
---

<article>
  <section>
  	<div class="content">
      <h1>The Business Case for Responsive&nbsp;Design</h1>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">this talk hand delivered by</div>
      </div>
      <h2>Matthew Crist</h2>
      <div class="byline">
        <div class="classy">@matthewcrist</div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">works with the finest folks at</div>
      </div>
      <h2>Cantina</h2>
      <div class="unbrokenline"></div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">let's talk about</div>
      </div>
      <h2>Getting the deciders to invest in responsive design</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">in other words</div>
      </div>
      <h2>How can responsive design positively impact the bottom line?</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>We've all have opinions about responsive design, but now we have data</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design allows us to meet the customer on their terms</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design allows us to build a better user experience</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">we know that</div>
      </div>
      <h2>Responsive design helps us focus on the content and features that matter</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">but...</div>
      </div>
      <h2>We also know that responsive design doesn't come free</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Responsive design adds cost and time</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #1</div>
      </div>
      <h2>Time to resolve design questions</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #2</div>
      </div>
      <h2>Time to develop the front end</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #3</div>
      </div>
      <h2>Time to develop the back end</h2>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="byline">
        <div class="classy">extra time sink #4</div>
      </div>
      <h2>Time to test across multiple devices</h2>
    </div>
  </section>
  <section class="stats-twitter">
    <div class="stats">
      <div class="stats-header">Time</div>
      <div class="stats-group">
        <div class="stat">
          <div class="stat-title">Mobile &amp; Tablet Traffic</div>
          <div class="stat-value"><i></i> <strong>10%</strong></div>
        </div>
        <div class="stat">
          <div class="stat-title">Unique Visits to Homepage</div>
          <div class="stat-value"><i></i> <strong>15%</strong></div>
        </div>
        <div class="stat">
          <div class="stat-title">Pages Per Visit</div>
          <div class="stat-value"><i></i> <strong>23%</strong></div>
        </div>
        <div class="stat">
          <div class="stat-title">Bounce Rate</div>
          <div class="stat-value"><i></i> <strong>26%</strong></div>
        </div>
      </div>
    </div>
  </section>
</article>